<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="padding: 20px">
    <h2 style="border-bottom: 2px black solid; display: inline-block">Company Name</h2>
    <div>
        <span>4/5/2019</span>
        <span style="float: right">6:00</span>
    </div>
    <h3 align="center">Invoice</h3>

    <div style="border-bottom: 2px black solid; margin-bottom: 10px">
    <strong>Items</strong>
    <strong style="float: right">Total</strong>
    </div>

    <div>
        <span>Shirt</span>
        <span style="float: right">55</span>
    </div>

    <div style="border-top: 2px black solid; margin-bottom: 10px">
        <strong>Total</strong>
        <strong style="float: right">55</strong>
    </div>



    <div style="border-bottom: 2px black solid; margin-bottom: 10px">
        <h3 align="right">Discount: 0.00</h3>
        <h3 align="right">Vat: 22.8</h3>
        <h3 align="right">Total: 1162.80</h3>
    </div>


    <h3 align="center">Thank you</h3>
</div>
</body>
</html>